@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

#root {
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu menu menu'
    'sidebar content content' 
    'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 20vh 10vh 60vh 10vh; */
    grid-template-rows: 200px 100px auto 100px;
    grid-gap: 10px;
    background-color: #F8F8F8;
}

#root > header {
    grid-area: header;
    background-color: #b4d2e7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}

#root > nav {
    grid-area: menu;
    background-color: #181818;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    
}

#root > aside {
    grid-area: sidebar;
    background-color: #181818;
    padding: 10px;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    color: #F8F8F8;
}

#root > main {
    grid-area: content;
    background-color: #F8F8F8;
    padding: 10px;
    /* grid-column-start: 2;
    grid-column-end: 4; */
}

#root > footer {
    grid-area: footer;
    background-color: #b4d2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}

aside > ul li {
    cursor: auto;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    color: rgb(179, 178, 178);
    
}

ul li {
    display: inline-block;
    margin: 10px;
    cursor: no-drop;
}

p {
    margin: 16px 0;
}

button {
    border-radius: 10px;
    border: 0;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.primary {
    background-color: rgb(143, 51, 255);
    color: #fff;
    border: 1px solid rgb(143, 51, 255);
}

.primary:hover {
    border: 1px solid rgb(143, 51, 255);
    color: rgb(143, 51, 255);
    background-color: #fff;
}

.secondary {
    border: 1px solid rgb(143, 51, 255);
    color: rgb(143, 51, 255);
    background-color: #fff;
}

.secondary:hover {
    background-color: rgb(143, 51, 255);
    color: #fff;
}